body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
background: url(2.jpeg) no-repeat center center fixed;
object-fit: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100% 100%;
}



/* Custom Button Styles */

.left{
	float:left;
 margin-left:20%;
 margin-top: 20%;
}


.right{
	float:right;
 margin-right:20%;
 margin-top: 20%;
}

.btn-my{
	border: #ffffff 1px solid;
	color: #ffffff;
	font-weight: lighter;
	letter-spacing: 2px;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-kthtml-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.btn-my:hover,
.btn-my:focus,
.btn-my:active{
	color: #ffffff;

transform: scale(1.3);
}


@media all and (max-width:410px) {



		.right{
			float: none;
		margin: 0 auto;

  }
	 .left {
		 float: none;
		 margin: 0 auto;
	 }
}
